@charset "UTF-8";
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #242424;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #242424;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
  z-index: 100;
  opacity: 0.8;
}
header .header_wrap {
  margin: 0 auto;
  width: 97%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_wrap .logo > img {
  width: 56px;
  height: 24px;
  cursor: pointer;
}
header .header_wrap .menu {
  display: flex;
  align-items: center;
}
header .header_wrap .menu ul {
  display: flex;
  justify-content: space-evenly;
}
header .header_wrap .menu ul li a {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  padding: 20px 24px;
}
header .header_wrap .menu button {
  background-color: #333;
  border-radius: 100px;
  color: #fff;
  border: none;
  padding: 7px 24px;
  font-size: 13px;
  cursor: pointer;
  margin-left: 24px;
}

.on_bt {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 450px;
  width: 90%;
  z-index: 100;
}
.on_bt button {
  border-radius: 100px;
  background-color: #333;
  color: #fff;
  padding: 16px;
  width: 100%;
  cursor: pointer;
  letter-spacing: -1px;
}
.on_bt button b {
  font-weight: 700;
  color: #fff;
}

.slider {
  width: 100%;
  height: 820px;
  background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
  padding-top: 64px;
}
.slider .slider_wrap {
  max-width: 1200px;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-image: url(../img/sliderbg.png);
  background-size: 765px;
  background-repeat: no-repeat;
  background-position: 96% 55%;
}
.slider .slider_wrap .slider_text {
  width: 1200px;
  position: absolute;
  margin-top: 88px;
  padding: 0 48px;
}
.slider .slider_wrap .slider_text h1 {
  height: 223px;
  background: url(../img/slidertext1.png);
  background-repeat: no-repeat;
  background-size: 346px;
  opacity: 0;
  margin-top: 100px;
}
.slider .slider_wrap .slider_text h2 {
  height: 47px;
  background: url(../img/slidertext2.png);
  background-repeat: no-repeat;
  background-size: 178px;
  margin-top: 260px;
  opacity: 0;
}

@keyframes bookslide {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -3000px;
  }
}
.book_slide {
  width: 100%;
  padding: 80px 24px;
}
.book_slide .book_slide_wrap {
  width: 100%;
  margin: 0 auto;
}
.book_slide .book_slide_wrap .book_slide_text {
  text-align: center;
  margin-top: 20px;
}
.book_slide .book_slide_wrap .book_slide_text h2 {
  font-size: 49px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  color: #242424;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  opacity: 0;
}
.book_slide .book_slide_wrap .book_slide_text p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  color: #555;
  opacity: 0;
}
.book_slide .book_slide_wrap .book_slide_img {
  width: 100%;
  margin-top: 45px;
}
.book_slide .book_slide_wrap .book_slide_img .bookslide {
  width: 100%;
  height: 230px;
}
.book_slide .book_slide_wrap .book_slide_img .slide1 {
  background: url(../img/slide01.a7cc998bd9e966d0d94956bef997e0c8.png) repeat-x;
  animation: bookslide 70s linear infinite;
}
.book_slide .book_slide_wrap .book_slide_img .slide2 {
  background: url(../img/slide02.49dff390b1caebf4be084582e573d26f.png) repeat-x;
  animation: bookslide 70s linear reverse infinite;
}
.book_slide .book_slide_wrap .book_slide_img .slide3 {
  background: url(../img/slide03.2246c95c20916dc665da8a84af1cd2ad.png) repeat-x;
  animation: bookslide 70s linear infinite;
}

.video {
  width: 100%;
  padding: 80px 0;
  background-color: #f7f7f7;
}
.video .video_wrap .video_text_wrap {
  text-align: center;
  margin-top: 20px;
}
.video .video_wrap .video_text_wrap h2 {
  font-size: 49px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  color: #242424;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  opacity: 0;
}
.video .video_wrap .video_text_wrap p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  color: #555;
  opacity: 0;
}
.video .video_wrap .video_img {
  max-width: 730px;
  height: 410px;
  margin: 45px auto;
  position: relative;
}
.video .video_wrap .video_img .video_thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video .video_wrap .video_img .video_thumbnail img {
  width: 100%;
  height: 100%;
}
.video .video_wrap .video_img .video_thumbnail .video_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video .video_wrap .video_img .video_thumbnail .video_btn img {
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.best_seller {
  width: 100%;
  padding: 80px 0;
}
.best_seller .best_seller_wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.best_seller .best_seller_wrap .best_seller_text {
  margin-top: 20px;
}
.best_seller .best_seller_wrap .best_seller_text h2 {
  font-size: 49px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  color: #242424;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  opacity: 0;
}
.best_seller .best_seller_wrap .best_seller_text p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  color: #555;
  opacity: 0;
}
.best_seller .best_seller_wrap .seller_all {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 45px;
}
.best_seller .best_seller_wrap .seller_all .seller_title {
  width: 100%;
  text-align: left;
  padding: 45px 0;
}
.best_seller .best_seller_wrap .seller_all .seller_title h5 {
  font-size: 20px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap {
  width: 145px;
  text-align: left;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .cover {
  width: 100%;
  height: 210px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .cover img {
  width: 100%;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .cover1 {
  position: relative;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .cover1 .wan {
  position: absolute;
  top: 25px;
  right: -5px;
  width: 40px;
  height: 35px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .cover1 .mp {
  position: absolute;
  top: 0;
  right: -5px;
  width: 40px;
  height: 35px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .cover3 {
  position: relative;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .cover3 .wan {
  position: absolute;
  top: 25px;
  right: -5px;
  width: 40px;
  height: 35px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .cover3 .mp {
  position: absolute;
  top: 0;
  right: -5px;
  width: 40px;
  height: 35px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .book_info {
  width: 100%;
  height: 100px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .book_info .book_title {
  margin-top: 10px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .book_info .book_title1 img {
  display: block;
  width: 38px;
  height: 18px;
  margin: 5px 0;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .book_info .book_title3 img {
  display: block;
  width: 38px;
  height: 18px;
  margin: 5px 0;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .book_info .person {
  font-size: 14px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .book_info .person a {
  font-size: 14px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .book_info .con {
  font-size: 14px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .book_info .con a {
  font-size: 14px;
}
.best_seller .best_seller_wrap .seller_all .cover_wrap .book_info .con a::after {
  content: "‥ [더보기]";
  font-size: 12px;
}

.pick_on {
  background-color: #333;
  color: #fff;
}

.pick {
  width: 100%;
  padding: 80px 0 0;
}
.pick .pick_wrap {
  width: 1200px;
  margin: 0 auto;
}
.pick .pick_wrap .pick_text {
  text-align: center;
  margin-top: 20px;
}
.pick .pick_wrap .pick_text h2 {
  font-size: 49px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  color: #242424;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  opacity: 0;
}
.pick .pick_wrap .pick_text p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  color: #555;
  opacity: 0;
}
.pick .pick_wrap .pick_btn {
  margin-top: 45px;
}
.pick .pick_wrap .pick_btn ul {
  width: 32%;
  display: flex;
  justify-content: space-evenly;
}
.pick .pick_wrap .pick_btn ul li {
  border: 1px solid #333;
  border-radius: 100px;
  padding: 3.5px 15px;
  font-size: 14px;
  cursor: pointer;
}
.pick .pick_wrap .pick_all > div {
  padding: 45px 0 60px;
}

@keyframes phoneUp {
  0% {
    transform: translateY(40px) scale(0.9);
  }
  80% {
    transform: translateY(6px) scale(1.06);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.phoneUp_on1 {
  animation: phoneUp 0.6s 1;
}

.phoneUp_on2 {
  animation: phoneUp 0.7s 1;
}

.phoneUp_on3 {
  animation: phoneUp 0.8s 1;
}

.phoneUp_on4 {
  animation: phoneUp 0.5s 1;
}

.phone {
  width: 100%;
  padding-top: 80px;
  background-color: #f7f7f7;
  overflow: hidden;
}
.phone .phone_wrap {
  width: 1200px;
  margin: 0 auto;
}
.phone .phone_wrap .phone_text {
  text-align: center;
  margin-top: 20px;
}
.phone .phone_wrap .phone_text h2 {
  font-size: 49px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  color: #242424;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  opacity: 0;
}
.phone .phone_wrap .phone_text p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  color: #555;
  opacity: 0;
}
.phone .phone_wrap .phone_img_wrap {
  width: 100%;
  height: 500px;
  margin-top: 45px;
}
.phone .phone_wrap .phone_img_wrap .center {
  height: 100%;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.phone .phone_wrap .phone_img_wrap .center .tooltip {
  width: 420px;
  height: 250px;
  background-image: url(../img/phone_pick_tooltip.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.phone .phone_wrap .phone_img_wrap .center .tip {
  width: 172px;
  height: 172px;
  position: absolute;
}
.phone .phone_wrap .phone_img_wrap .center .tip img {
  width: 100%;
  opacity: 0;
}
.phone .phone_wrap .phone_img_wrap .center .tip1 {
  top: 12%;
  left: 15%;
}
.phone .phone_wrap .phone_img_wrap .center .tip2 {
  bottom: 12%;
  left: 10%;
}
.phone .phone_wrap .phone_img_wrap .center .tip3 {
  top: 12%;
  right: 15%;
}
.phone .phone_wrap .phone_img_wrap .center .tip4 {
  bottom: 12%;
  right: 10%;
}

.price {
  width: 100%;
  padding: 80px 0;
  background-color: #ffeb60;
}
.price .price_wrap {
  width: 1200px;
  margin: 45px auto;
}
.price .price_wrap .price_text {
  text-align: center;
  margin-top: 20px;
}
.price .price_wrap .price_text h2 {
  font-size: 49px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  color: #242424;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  opacity: 0;
}
.price .price_wrap .price_text p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  color: #555;
  opacity: 0;
}
.price .price_wrap .price_box_wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.price .price_wrap .price_box_wrap .price_box1 {
  width: 750px;
  display: flex;
  justify-content: space-evenly;
}
.price .price_wrap .price_box_wrap .price_box1 .box1_all {
  width: 327px;
  height: 310px;
  border-radius: 20px;
  background-color: #fff;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}
.price .price_wrap .price_box_wrap .price_box1 .box1_all div {
  width: 100%;
}
.price .price_wrap .price_box_wrap .price_box1 .box1_all .indent {
  text-indent: 40px;
  display: flex;
  align-items: center;
}
.price .price_wrap .price_box_wrap .price_box1 .box1_all img {
  width: 57px;
  margin-left: 5px;
}
.price .price_wrap .price_box_wrap .price_box1 .box1_all h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.price .price_wrap .price_box_wrap .price_box1 .box1_all span {
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #6f6f6f;
  margin-right: 5px;
}
.price .price_wrap .price_box_wrap .price_box1 .box1_all strong {
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
}
.price .price_wrap .price_box_wrap .price_box1 .box1_all s {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #6f6f6f;
}
.price .price_wrap .price_box_wrap .price_box1 .box1_all h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6f6f6f;
}
.price .price_wrap .price_box_wrap .price_box2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.price .price_wrap .price_box_wrap .price_box2 div {
  width: 100%;
}
.price .price_wrap .price_box_wrap .price_box2 div ul {
  display: flex;
  align-items: center;
}
.price .price_wrap .price_box_wrap .price_box2 div ul li {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.price .price_wrap .price_box_wrap .price_box2 div ul li img {
  width: 72px;
  margin-right: 20px;
}
.price .price_wrap .price_box_wrap .price_box2 .linebox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.price .price_wrap .price_box_wrap .price_box2 .linebox span {
  display: inline-block;
  width: 283px;
  height: 1px;
  background-color: #fff;
}

.audiomillie_on {
  background-color: #333;
  color: #fff;
}

.audio_on {
  background-color: #f7f7f7;
}

.head {
  width: 1200px;
  height: 105px;
  margin: 0 auto;
  background-color: #fff;
}
.head ul {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
}
.head ul li {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.head ul li span {
  font-size: 14px;
  line-height: 1.5;
}
.head ul li img {
  width: 24px;
}

.audiomillie .audio_book {
  width: 100%;
  padding: 80px 0 120px;
  background-color: #f7f7f7;
}
.audiomillie .audio_book .audio_wrap {
  width: 1200px;
  margin: 0 auto;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap {
  width: 50%;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap .audio_text h3 {
  font-weight: 700;
  font-size: 49px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #242424;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap .audio_text p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  color: #555;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap .audio_text img {
  width: 44px;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap .audio_text2 {
  position: relative;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap .audio_text2 .swiper-pagination {
  position: absolute;
  bottom: -45px;
  left: -4px;
  text-align: left;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap .audio_text2 .swiper-pagination span {
  display: inline;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap .audio_text2 .audio_text2_box h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap .audio_text2 .audio_text2_box p {
  font-weight: normal;
  font-size: 22px;
  line-height: 160%;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap .audio_text2 .audio_text2_box div:not(:first-child) {
  display: none;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap .audio_text2 .swiper-pagination-bullet {
  width: 25px;
  height: 20px;
  text-align: center;
  line-height: 0;
  font-size: 14px;
  color: #000;
  opacity: 1;
  background-color: #f7f7f7;
  border: 1px solid black;
  padding: 3px 20px;
  border-radius: 50px;
}
.audiomillie .audio_book .audio_wrap .audio_text_wrap .audio_text2 .swiper-pagination-bullet-active {
  color: #fff;
  background: #333;
}
.audiomillie .audio_book .audio_wrap .audio_img {
  width: 320px;
  height: 680px;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  margin-top: 60px;
}
.audiomillie .audio_book .audio_wrap .audio_img img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  margin-top: 60px;
}
.audiomillie .audio_book .audio_wrap .audio_img .swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 80px;
  margin-top: 60px;
}
.audiomillie .audio_book .audio_wrap .audio_img .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
.audiomillie .audio_book .audio_wrap .audio_img .swiper .swiper-slide:active {
  cursor: grabbing;
}
.audiomillie .audio_book .audio_wrap .audio_img .swiper .swiper-slide img {
  display: block;
  width: 99%;
  height: 105%;
  -o-object-fit: cover;
     object-fit: cover;
}
.audiomillie .audio_book .audio_wrap .audio_img .swiper .swiper-slide video {
  display: block;
  width: 100%;
  height: 95.5%;
}
.audiomillie .millie_book {
  width: 100%;
  padding: 80px 0 120px;
  background-color: #f7f7f7;
  display: none;
}
.audiomillie .millie_book .millie_wrap {
  width: 1200px;
  margin: 0 auto;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap {
  width: 50%;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap .millie_text h3 {
  font-weight: 700;
  font-size: 49px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #242424;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap .millie_text p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  color: #555;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap .millie_text img {
  width: 44px;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap .millie_text2 {
  position: relative;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap .millie_text2 .swiper-pagination2 {
  position: absolute;
  bottom: -45px;
  left: -4px;
  text-align: left;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap .millie_text2 .swiper-pagination2 span {
  display: inline;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap .millie_text2 .millie_text2_box h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap .millie_text2 .millie_text2_box p {
  font-weight: normal;
  font-size: 22px;
  line-height: 160%;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap .millie_text2 .millie_text2_box div:not(:first-child) {
  display: none;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap .millie_text2 .swiper-pagination-bullet {
  width: 25px;
  height: 20px;
  text-align: center;
  line-height: 0;
  font-size: 14px;
  color: #000;
  opacity: 1;
  background-color: #f7f7f7;
  border: 1px solid black;
  padding: 3px 20px;
  border-radius: 50px;
}
.audiomillie .millie_book .millie_wrap .millie_text_wrap .millie_text2 .swiper-pagination-bullet-active {
  color: #fff;
  background: #333;
}
.audiomillie .millie_book .millie_wrap .millie_img {
  width: 320px;
  height: 680px;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  margin-top: 60px;
}
.audiomillie .millie_book .millie_wrap .millie_img img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  margin-top: 60px;
}
.audiomillie .millie_book .millie_wrap .millie_img .mySwiper2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 80px;
  margin-top: 60px;
}
.audiomillie .millie_book .millie_wrap .millie_img .mySwiper2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
.audiomillie .millie_book .millie_wrap .millie_img .mySwiper2 .swiper-slide:active {
  cursor: grabbing;
}
.audiomillie .millie_book .millie_wrap .millie_img .mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.audiomillie .millie_book .millie_wrap .millie_img .mySwiper2 .swiper-slide video {
  display: block;
  width: 100%;
  height: 95.5%;
}

.view {
  width: 100%;
  height: 495px;
}
.view .view_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../img/review-bg.7113d143354a257d6ddad264072b913e.png);
  background-size: 100%;
}
.view .view_wrap .view_text {
  width: 400px;
  position: absolute;
  top: 80px;
  right: 350px;
  margin-top: 20px;
}
.view .view_wrap .view_text h2 {
  font-size: 49px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  color: #242424;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  opacity: 0;
}
.view .view_wrap .view_text p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  color: #555;
  opacity: 0;
}
.view .view_wrap .view_img {
  width: 415px;
  height: 415.6px;
  position: absolute;
  top: -45px;
  left: 450px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
.view .view_wrap .view_img .view_thumbnail {
  width: 100%;
  position: absolute;
  top: -1px;
  left: -2px;
}
.view .view_wrap .view_img .view_thumbnail > img {
  width: 101%;
}
.view .view_wrap .view_img .view_thumbnail div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.qna_on {
  display: block;
}

.qna {
  width: 100%;
  padding: 80px 0;
  background-color: #ffeb60;
}
.qna .qna_wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.qna .qna_wrap .qna_text {
  text-align: center;
  padding-bottom: 80px;
}
.qna .qna_wrap .qna_text h2 {
  font-size: 49px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  color: #242424;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  opacity: 0;
  margin-bottom: 0;
  opacity: 1;
}
.qna .qna_wrap .qna_box_wrap {
  width: 80%;
  margin: 0 auto;
}
.qna .qna_wrap .qna_box_wrap .qna_box {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}
.qna .qna_wrap .qna_box_wrap .qna_box .qna_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.qna .qna_wrap .qna_box_wrap .qna_box .qna_title h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
.qna .qna_wrap .qna_box_wrap .qna_box .qna_title div img {
  width: 24px;
}
.qna .qna_wrap .qna_box_wrap .qna_box .qna_sub {
  border-top: 1px solid black;
  margin-top: 15px;
  display: none;
}
.qna .qna_wrap .qna_box_wrap .qna_box .qna_sub p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #555;
  padding: 20px 0;
}

footer {
  width: 100%;
  padding: 20px 0 80px;
}
footer .footer_wrap {
  width: 1200px;
  margin: 0 auto;
}
footer .footer_wrap .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_wrap .top ul {
  display: flex;
}
footer .footer_wrap .top ul li {
  cursor: pointer;
}
footer .footer_wrap .top ul li:not(:last-child) {
  margin-right: 10px;
}
footer .footer_wrap .top ul li img {
  width: 24px;
}
footer .footer_wrap .second {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
footer .footer_wrap .second a {
  color: #a5a5a5;
  font-size: 10px;
}
footer .footer_wrap .second img {
  width: 12px;
}
footer .footer_wrap .middle {
  margin: 20px 0;
}
footer .footer_wrap .middle ul {
  display: flex;
}
footer .footer_wrap .middle ul li {
  margin-right: 10px;
}
footer .footer_wrap .middle ul li::after {
  content: " >";
  font-size: 12px;
  color: #6f6f6f;
}
footer .footer_wrap .middle ul li .bold_text {
  font-weight: bold;
}
footer .footer_wrap .middle ul li a {
  font-size: 12px;
  color: #6f6f6f;
}
footer .footer_wrap .foot span {
  color: #6f6f6f;
  font-size: 10px;
}