@charset "UTF-8";
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #242424;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #242424;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
  z-index: 100;
  opacity: 0.8;
}
header .header_wrap {
  margin: 0 auto;
  width: 97%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_wrap .logo > img {
  width: 56px;
  height: 24px;
  cursor: pointer;
}
header .header_wrap .menu {
  display: flex;
  align-items: center;
}
header .header_wrap .menu ul {
  display: flex;
  justify-content: space-evenly;
}
header .header_wrap .menu ul li a {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  padding: 20px 24px;
}
header .header_wrap .menu button {
  background-color: #333;
  border-radius: 100px;
  color: #fff;
  border: none;
  padding: 7px 24px;
  font-size: 13px;
  cursor: pointer;
  margin-left: 24px;
}

.all {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 150px;
}
.all .left_zone {
  width: 80%;
  border-right: 1px solid #dfdfdf;
  margin-bottom: 80px;
}
.all .left_zone .top {
  width: 100%;
  margin: 0 auto;
}
.all .left_zone .top .top_wrap {
  width: 100%;
}
.all .left_zone .top .top_wrap .book_cover_all {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.all .left_zone .top .top_wrap .book_cover_all .book_cover {
  width: 200px;
}
.all .left_zone .top .top_wrap .book_cover_all .book_cover .thum {
  width: 100%;
  height: 302px;
  margin: 0 auto;
}
.all .left_zone .top .top_wrap .book_cover_all .book_cover .thum img {
  width: 100%;
  cursor: zoom-in;
}
.all .left_zone .top .top_wrap .book_cover_all .book_cover .thum2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100Vh;
  margin: 0 auto;
  text-align: center;
  display: none;
  z-index: 10;
}
.all .left_zone .top .top_wrap .book_cover_all .book_cover .thum2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.all .left_zone .top .top_wrap .book_cover_all .book_cover .thum2 i {
  position: absolute;
  top: 8%;
  right: 10%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
.all .left_zone .top .top_wrap .book_cover_all .book_cover .thum_back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  opacity: 0.8;
  z-index: 0;
  display: none;
}
.all .left_zone .top .top_wrap .book_cover_all .book_cover .btn {
  margin: 10px auto;
  width: 130px;
  height: 40px;
  border: 2px solid #ffeb60;
  color: #333;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
}
.all .left_zone .top .top_wrap .book_cover_all .book_cover .btn:hover {
  background-color: #ffeb60;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info {
  width: 68%;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head {
  margin-bottom: 20px;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head h6 {
  font-size: 12px;
  font-weight: 300;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head h6 b {
  font-size: 12px;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.8;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head h5 {
  font-size: 13px;
  color: #666;
  font-weight: 300;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head .star {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head .star img {
  width: 70px;
  height: 14px;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head .star span {
  font-size: 14px;
  color: #fa722e;
  padding: 0 5px;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head .star span::after {
  content: " (1명)";
  font-size: 12px;
  color: #666;
  font-weight: 300;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head .book_api > span {
  font-size: 13px;
  margin: 3px 5px 0 0;
  font-weight: 300;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head .book_api > span:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #333;
  margin-left: 10px;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head .book_api > span:last-child {
  display: block;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .head .book_api > span span {
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .foot {
  border-top: 1px solid #c0c0c0;
  padding: 20px 0;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .foot table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #e6e8eb;
  border-bottom: 1px solid #e6e8eb;
  border-spacing: px;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .foot table tr th {
  width: 30%;
  background-color: #fff5b1;
  border-right: 1px solid #e6e8eb;
  font-size: 13px;
  font-weight: 400;
  padding: 20px;
  color: #333;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .foot table tr td {
  font-size: 13px;
  font-weight: 200;
  padding: 5px 10px;
  width: 40%;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .foot table tr td.foot_price {
  text-align: right;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .foot table tr td.foot_sale_price {
  text-align: right;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .foot table tr td.foot_sale_price span {
  color: #1f8ce6;
  font-weight: 500;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .foot table tr td span {
  font-size: 13px;
  font-weight: 400;
  padding: 5px 10px;
  width: 40%;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .bt_all {
  width: 55%;
  display: flex;
  align-items: center;
  float: right;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .bt_all div {
  width: 48px;
  height: 48px;
  border: 2px solid #ffeb60;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  border-radius: 3px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.4s;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .bt_all div:hover {
  background-color: #ffeb60;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .bt_all div i {
  display: inline-block;
  width: 21px;
  color: #333;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .bt_all .text_icon {
  color: #333;
  background-color: #ffeb60;
  flex-grow: 2;
  font-weight: 500;
  border: none;
}
.all .left_zone .top .top_wrap .book_cover_all .book_info .bt_all .text_icon:hover {
  background-color: #fff5b1;
}
.all .left_zone .top .top_wrap .info_all {
  width: 80%;
  margin: 30px auto;
  border: 3px solid #e6e8eb;
  padding: 20px;
  display: flex;
}
.all .left_zone .top .top_wrap .info_all ul {
  width: 50%;
}
.all .left_zone .top .top_wrap .info_all ul li b {
  display: inline-block;
  width: 60px;
  font-size: 12px;
  color: #666;
  margin-right: 10px;
}
.all .left_zone .top .top_wrap .info_all ul li span {
  font-size: 12px;
  color: #666;
  font-weight: 300;
}
.all .left_zone .top .top_wrap .info_all ul li.line span:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #d1d5d9;
  margin: 0 6px;
}
.all .left_zone .top .top_wrap .info_all ul li.icon1 span:nth-of-type(1)::before {
  content: "\f025";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 2px;
}
.all .left_zone .top .top_wrap .info_all ul li.icon2 span {
  margin-right: 5px;
}
.all .left_zone .top .top_wrap .info_all ul li.icon2 span:nth-of-type(1)::before {
  content: "\f249";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 2px;
}
.all .left_zone .top .top_wrap .info_all ul li.icon2 span:nth-of-type(2)::before {
  content: "\f5d1";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 2px;
}
.all .left_zone .top .top_wrap .info_all ul li.icon2 span:nth-of-type(3)::before {
  content: "\f544";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 2px;
}
.all .left_zone .top .top_wrap .info_all ul li.icon2 span:nth-of-type(4)::before {
  content: "\f390";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 2px;
}
.all .left_zone .top .top_wrap .info_all ul li.icon2 span:nth-of-type(5)::before {
  content: "\f109";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 2px;
}
.all .left_zone .content_on {
  opacity: 1;
}
.all .left_zone .content_all {
  margin: 0 auto;
  width: 80%;
}
.all .left_zone .content_all h1 {
  font-size: 20px;
  color: #333;
  line-height: 2.5;
  font-weight: 500;
  border-bottom: 2px solid #333;
}
.all .left_zone .content_all .content_box {
  padding: 30px 0;
  position: relative;
}
.all .left_zone .content_all .content_box .content_text {
  width: 100%;
  height: 210px;
  overflow: hidden;
  cursor: pointer;
}
.all .left_zone .content_all .content_box .content_text ul li {
  font-size: 14px;
  font-weight: 300;
  word-break: keep-all;
  word-wrap: break-word;
  line-height: 1.5;
}
.all .left_zone .content_all .content_box .content_text p {
  font-size: 14px;
  font-weight: 300;
  word-break: keep-all;
  word-wrap: break-word;
  line-height: 1.5;
  margin-top: 20px;
}
.all .left_zone .content_all .content_box.content_in::after {
  content: "펼쳐보기 \f13a";
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #4076b5;
  font-size: 13px;
  cursor: pointer;
}
.all .left_zone .content_all .content_box.content_out::after {
  content: "접기 \f139";
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #4076b5;
  font-size: 13px;
  cursor: pointer;
}
.all .left_zone .content_all .profile .profile_on {
  border-bottom: 1px solid black;
  padding: 6px 0;
}
.all .left_zone .content_all .profile .profile_box {
  padding: 5px 0;
  margin: 10px 0 30px;
  border-bottom: 1px solid #d1d5d9;
}
.all .left_zone .content_all .profile .profile_box > span {
  font-size: 12px;
  font-weight: 300;
  color: #808991;
  margin-right: 15px;
  cursor: pointer;
}
.all .left_zone .content_all .profile .profile_box > span:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #808991;
  margin-left: 20px;
}
.all .left_zone .content_all .profile .profile_box > span > span {
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
}
.all .left_zone .content_all .profile .profile_box_text {
  padding: 15px 0;
  border-bottom: 1px solid #d1d5d9;
}
.all .left_zone .content_all .profile .profile_box_text b {
  font-size: 20px;
}
.all .left_zone .content_all .profile .profile_box_text .name .new {
  margin: 20px 0;
  width: 170px;
  border: 2px solid #ffeb60;
  border-radius: 5px;
  text-align: center;
  padding: 4px 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.all .left_zone .content_all .profile .profile_box_text .name .new:hover {
  background-color: #ffeb60;
}
.all .left_zone .content_all .profile .profile_box_text .name .new span {
  color: #333;
  font-weight: 500;
  font-size: 13px;
}
.all .left_zone .content_all .profile .profile_box_text .name .new span:nth-child(1)::before {
  content: "+";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
.all .left_zone .content_all .profile .profile_box_text .name .new span:nth-child(2)::before {
  content: "·";
  font-weight: 900;
}
.all .left_zone .content_all .profile .profile_box_text .name > span:nth-of-type(2) {
  font-size: 14px;
  font-weight: 300;
  color: #808991;
  margin-right: 15px;
}
.all .left_zone .content_all .profile .profile_box_text .name > span:nth-of-type(3) {
  font-size: 14px;
  font-weight: 300;
}
.all .left_zone .content_all .profile .profile_box_text .name .update {
  text-align: right;
}
.all .left_zone .content_all .profile .profile_box_text .name .update > span {
  font-size: 12px;
  font-weight: 300;
  margin-right: 10px;
}
.all .left_zone .content_all .profile .profile_box_text .name .update > div {
  display: inline-block;
}
.all .left_zone .content_all .profile .profile_box_text .name .update > div span {
  font-size: 11px;
  color: #808991;
  border: 1px solid #808991;
  border-radius: 5px;
  padding: 1px 5px;
  cursor: pointer;
  transition: all 0.4s;
}
.all .left_zone .content_all .profile .profile_box_text .name .update > div span::before {
  content: "\f303";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 3px;
}
.all .left_zone .content_all .profile .profile_box_text .name .update > div span:hover {
  background-color: #f2f4f5;
}
.all .left_zone .content_all .profile .profile_box_text .name2 {
  display: none;
}
.all .left_zone .content_all .profile .profile_box_text .name2 table {
  border-collapse: separate;
  border-spacing: 0 5px;
}
.all .left_zone .content_all .profile .profile_box_text .name2 table tr th {
  font-size: 14px;
  font-weight: 300;
  color: #808991;
  vertical-align: baseline;
}
.all .left_zone .content_all .profile .profile_box_text .name2 table tr td {
  font-size: 14px;
  font-weight: 300;
  padding-left: 15px;
}
.all .left_zone .content_all .profile .profile_img > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
.all .left_zone .content_all .profile .profile_img > div:nth-child(1) h3 {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}
.all .left_zone .content_all .profile .profile_img > div:nth-child(1) ul {
  display: flex;
  align-items: center;
}
.all .left_zone .content_all .profile .profile_img > div:nth-child(1) ul li {
  font-size: 11px;
  margin-left: 10px;
  color: #999;
  cursor: pointer;
}
.all .left_zone .content_all .profile .profile_img > div:nth-child(1) ul li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  background-color: #999;
  margin-left: 10px;
}
.all .left_zone .content_all .profile .profile_img .img_box {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}
.all .left_zone .content_all .profile .profile_img .img_box > div {
  width: 19%;
  text-align: center;
}
.all .left_zone .content_all .profile .profile_img .img_box > div .img_cover img {
  width: 80%;
}
.all .left_zone .content_all .profile .profile_img .img_box > div .img_title {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
.all .left_zone .content_all .profile .profile_img .img_box > div .img_title a {
  font-size: 12px;
}
.all .left_zone .content_all .profile .profile_img .img_box2,
.all .left_zone .content_all .profile .profile_img .img_box3 {
  display: none;
}
.all .left_zone .content_all .content_video > div {
  padding: 5px 0;
  margin: 10px 0 30px;
}
.all .left_zone .content_all .content_video iframe {
  width: 100%;
  margin-bottom: 20px;
}
.all .left_zone .content_all .review {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.all .left_zone .content_all .review .star_zone {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}
.all .left_zone .content_all .review .star_zone > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
.all .left_zone .content_all .review .star_zone .star_img {
  width: 15%;
  height: 50px;
  text-align: center;
}
.all .left_zone .content_all .review .star_zone .star_img > span {
  font-size: 13px;
}
.all .left_zone .content_all .review .star_zone .star_img h2 {
  font-size: 30px;
}
.all .left_zone .content_all .review .star_zone .star_img img {
  width: 75px;
}
.all .left_zone .content_all .review .star_zone .star_img .star_all ul li {
  font-size: 12px;
  margin: 5px 0;
}
.all .left_zone .content_all .review .star_zone .star_img .star_all ul li::before {
  content: "\f005";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
}
.all .left_zone .content_all .review .star_zone .star_img .star_all ul li > span {
  display: inline-block;
  width: 72px;
  height: 8px;
  background-color: #e8edf3;
  margin-left: 5px;
}
.all .left_zone .content_all .review .star_zone .star_img .star_all ul li > span.full {
  display: inline-block;
  width: 72px;
  height: 8px;
  background-color: #738096;
}
.all .left_zone .content_all .review .star_zone .star_img .star_all > span {
  display: block;
  font-size: 13px;
  color: #94a2b8;
  border-top: 1px solid #e5e5e5;
  padding-top: 5px;
}
.all .left_zone .content_all .review .star_zone .star_text {
  width: 82%;
  height: 50px;
}
.all .left_zone .content_all .review .star_zone .star_text > div:nth-child(1) {
  text-align: center;
}
.all .left_zone .content_all .review .star_zone .star_text > div:nth-child(1) h2 {
  font-size: 18px;
  color: #999;
  font-weight: 500;
}
.all .left_zone .content_all .review .star_zone .star_text .star_on {
  opacity: 1;
}
.all .left_zone .content_all .review .star_zone .star_text > div:nth-child(2) {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}
.all .left_zone .content_all .review .star_zone .star_text > div:nth-child(2) > span {
  width: 64px;
  height: 48px;
  background-image: url(../img/icon_star@2x.png);
  background-size: 45px 90px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  background-position: 50% 0px;
}
.all .left_zone .content_all .review .star_zone .star_text > div:last-child {
  width: 100%;
  text-align: center;
}
.all .left_zone .content_all .review .star_zone .star_text > div:last-child textarea {
  width: 100%;
  height: 112px;
  padding: 10px;
  font-weight: 300;
  resize: none;
}
.all .left_zone .content_all .review .star_zone .star_text > div:last-child > div {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.all .left_zone .content_all .review .star_zone .star_text > div:last-child > div .star_btn1 {
  border: 2px solid #ffeb60;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}
.all .left_zone .content_all .review .star_zone .star_text > div:last-child > div .star_btn1::before {
  content: "\f071";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
}
.all .left_zone .content_all .review .star_zone .star_text > div:last-child > div .star_btn1:hover {
  background-color: #ffeb60;
}
.all .left_zone .content_all .review .star_zone .star_text > div:last-child > div > div {
  display: flex;
  align-items: center;
}
.all .left_zone .content_all .review .star_zone .star_text > div:last-child > div > div > span {
  font-size: 13px;
  margin-left: 5px;
}
.all .left_zone .content_all .review .star_zone .star_text > div:last-child > div .star_btn2 {
  background-color: #ffeb60;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 13px;
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.4s;
}
.all .left_zone .content_all .review .star_zone .star_text > div:last-child > div .star_btn2:hover {
  background-color: #fff5b1;
}
.all .left_zone .content_all .review .star_zone .review_text {
  width: 100%;
  height: 50%;
  margin-top: 40px;
}
.all .left_zone .content_all .review .star_zone .review_text > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.all .left_zone .content_all .review .star_zone .review_text > div:nth-child(1) div.sel1 {
  width: 14%;
}
.all .left_zone .content_all .review .star_zone .review_text > div:nth-child(1) div.sel1 li {
  margin-right: 15px;
  font-size: 15px;
}
.all .left_zone .content_all .review .star_zone .review_text > div:nth-child(1) div.sel2 {
  width: 35%;
}
.all .left_zone .content_all .review .star_zone .review_text > div:nth-child(1) div.sel2 ul:nth-child(2) {
  width: 100%;
  justify-content: flex-end;
}
.all .left_zone .content_all .review .star_zone .review_text > div:nth-child(1) div.sel2 ul:nth-child(2) li {
  margin-right: 10px;
}
.all .left_zone .content_all .review .star_zone .review_text > div:nth-child(1) div.sel2 ul:nth-child(2) li:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e5e5e5;
  display: inline-block;
  margin-left: 10px;
}
.all .left_zone .content_all .review .star_zone .review_text > div:nth-child(1) div.sel2 ul li {
  font-size: 12px;
}
.all .left_zone .content_all .review .star_zone .review_text > div:nth-child(1) div.sel2 ul li:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e5e5e5;
  display: inline-block;
  margin-left: 15px;
}
.all .left_zone .content_all .review .star_zone .review_text > div.middle {
  border-top: 2px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 60px;
  margin: 8px 0;
  text-align: center;
}
.all .left_zone .content_all .review .star_zone .review_text > div.middle span {
  color: #808991;
}
.all .left_zone .content_all .review .star_zone .review_text > div ul {
  display: flex;
  justify-content: space-between;
}
.all .left_zone .content_all .review .star_zone .review_text > div ul .sel_on {
  color: black;
}
.all .left_zone .content_all .review .star_zone .review_text > div ul .sel_on2 {
  border-bottom: 2px solid #666;
  margin-bottom: -10px;
}
.all .left_zone .content_all .review .star_zone .review_text > div ul li {
  cursor: pointer;
  color: #808991;
}
.all .left_zone .content_all .review .star_zone .review_text > div:last-child > span {
  font-size: 12px;
  font-weight: 300;
  color: #8595a3;
  cursor: pointer;
}
.all .left_zone .content_all .review .star_zone .review_text > div:last-child > span i {
  font-size: 11px;
  color: #8595a3;
}
.all .left_zone .content_all .review .star_zone .review_text > div:last-child .text_box {
  width: 100%;
  background-color: #f3f4f5;
}
.all .left_zone .content_all .more_img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 30px 0;
}
.all .left_zone .content_all .more_img .img_hide {
  display: none;
}
.all .left_zone .content_all .more_img > div {
  width: 18%;
  text-align: center;
  margin: 50px 0;
}
.all .left_zone .content_all .more_img > div img {
  width: 70%;
}
.all .left_zone .content_all .more_img > div .more_title {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 auto 5px;
  text-align: left;
}
.all .left_zone .content_all .more_img > div .more_title a {
  font-size: 12px;
}
.all .left_zone .content_all .more_img > div .more_price {
  width: 70%;
  margin: 0 auto;
  display: block;
  font-size: 12px;
  text-align: left;
}
.all .left_zone .content_all .more_img > div .more_price a {
  margin-left: 5px;
  font-size: 12px;
  color: #1f8ce6;
}
.all .left_zone .content_all .more_btn2 {
  width: 92%;
  margin: 0 auto;
  height: 40px;
  background-color: #f4f4f4;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 14px;
}
.all .left_zone .content_all .more_btn2::after {
  content: "\f13a";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-left: 5px;
}
.all .left_zone .content_all .more_btn2:hover {
  background-color: #ccc;
}
.all .side {
  width: 20%;
}
.all .side div:nth-child(1) {
  width: 207px;
  height: 207px;
}
.all .side div:nth-child(1) img {
  width: 100%;
}
.all .side .text_all {
  padding: 20px;
}
.all .side .text_all h5 {
  font-weight: 500;
  font-size: 13px;
  line-height: 2.5;
}
.all .side .text_all ul {
  width: 185px;
}
.all .side .text_all ul li {
  width: 100%;
  border-top: 1px solid rgb(221, 221, 221);
  padding: 3px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.all .side .text_all ul li span.num {
  color: rgb(230, 73, 56);
  font-weight: 500;
  font-size: 12px;
  padding-right: 6px;
}
.all .side .text_all ul li span.num_text {
  font-size: 12px;
  white-space: nowrap;
  font-weight: 300;
}
.all .side .text_all ul li span.num_text:hover {
  background-color: #ffeb60;
}
.all .side .text_all .more_btn {
  width: 185px;
  background-color: rgb(223, 223, 223);
  font-size: 11px;
  padding: 4px 0px;
  text-align: center;
  margin-top: 4px;
  color: rgb(51, 51, 51);
  cursor: pointer;
}
.all .side .text_all .more_btn span {
  font-size: 8px;
  color: rgb(51, 51, 51);
}
.all .side .bar {
  width: 100%;
  padding: 10px 20px;
}
.all .side .bar > div {
  display: inline-block;
  width: 185px;
  position: relative;
}
.all .side .bar > div input {
  width: 100%;
  height: 30px;
  background-color: rgb(223, 223, 223);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 35px;
  font-weight: 400;
  font-size: 14px;
}
.all .side .bar > div > div {
  position: absolute;
  top: 0;
  left: 10px;
  cursor: pointer;
}
.all .side .bar > div > div i {
  font-size: 13px;
  line-height: 2.5;
}

footer {
  width: 100%;
  padding: 20px 0 80px;
  margin-top: 50px;
  border-top: 1px solid #dfdfdf;
}
footer .footer_wrap {
  width: 1200px;
  margin: 0 auto;
}
footer .footer_wrap .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_wrap .top ul {
  display: flex;
}
footer .footer_wrap .top ul li {
  cursor: pointer;
}
footer .footer_wrap .top ul li:not(:last-child) {
  margin-right: 10px;
}
footer .footer_wrap .top ul li img {
  width: 24px;
}
footer .footer_wrap .second {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
footer .footer_wrap .second a {
  color: #a5a5a5;
  font-size: 10px;
}
footer .footer_wrap .second img {
  width: 12px;
}
footer .footer_wrap .middle {
  margin: 20px 0;
}
footer .footer_wrap .middle ul {
  display: flex;
}
footer .footer_wrap .middle ul li {
  margin-right: 10px;
}
footer .footer_wrap .middle ul li::after {
  content: " >";
  font-size: 12px;
  color: #6f6f6f;
}
footer .footer_wrap .middle ul li .bold_text {
  font-weight: bold;
}
footer .footer_wrap .middle ul li a {
  font-size: 12px;
  color: #6f6f6f;
}
footer .footer_wrap .foot span {
  color: #6f6f6f;
  font-size: 10px;
}