@charset "utf-8";

$de_font : 'Spoqa Han Sans Neo', 'sans-serif';

@mixin title_font {
    font-size: 49px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 24px;
    letter-spacing: -0.01em;
    color: #242424;
    font-family: $de_font;
}

@mixin sub_font {
    font-size: 22px;
    line-height: 160%;
    letter-spacing: -0.6px;
    color: #555;
}
