@charset "utf-8";

@import 'color', 'font';

body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: $fontcolor;
    font-family: $de_font;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $fontcolor
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid  #dfdfdf;
    background-color: #fff;
    z-index: 100;
    opacity: 0.8;

    .header_wrap {
        margin: 0 auto;
        width: 97%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo > img {
            width: 56px;
            height: 24px;
            cursor: pointer;
        }
        .menu {
            display: flex;
            align-items: center;
            ul {
                display: flex;
                justify-content: space-evenly;
    
                li {
                    a{
                        font-family: $de_font;
                        padding: 20px 24px;
                    }
                }
            }
            button {
                background-color: #333;
                border-radius: 100px;
                color: #fff;
                border: none;
                padding: 7px 24px;
                font-size: 13px;
                cursor: pointer;
                margin-left: 24px;
            }
        }
        
    }   
}


