@charset "utf-8";

@import 'color', 'font';

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: $fontcolor;
    font-family: $de_font;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $fontcolor
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fff;
    z-index: 100;
    opacity: 0.8;

    .header_wrap {
        margin: 0 auto;
        width: 97%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo>img {
            width: 56px;
            height: 24px;
            cursor: pointer;
        }

        .menu {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                justify-content: space-evenly;

                li {
                    a {
                        font-family: $de_font;
                        padding: 20px 24px;
                    }
                }
            }

            button {
                background-color: #333;
                border-radius: 100px;
                color: #fff;
                border: none;
                padding: 7px 24px;
                font-size: 13px;
                cursor: pointer;
                margin-left: 24px;
            }
        }

    }
}

.all {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-top: 200px;

    .left_zone {
        width: 80%;
        border-right: 1px solid #dfdfdf;
        margin-bottom: 80px;

        .top {
            width: 100%;
            margin: 0 auto;


            .top_wrap {
                width: 100%;

                .book_cover_all {
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;

                    .book_cover {
                        width: 200px;

                        .thum {
                            width: 100%;
                            height: 302px;
                            margin: 0 auto;

                            img {
                                width: 100%;
                                cursor: zoom-in;
                            }
                        }

                        .thum2 {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100Vh;
                            margin: 0 auto;
                            text-align: center;
                            display: none;
                            z-index: 10;

                            img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }

                            i {
                                position: absolute;
                                top: 8%;
                                right: 10%;
                                transform: translate(-50%, -50%);
                                color: #fff;
                                font-size: 40px;
                                cursor: pointer;
                            }
                        }

                        .thum_back {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100vh;
                            background-color: #333;
                            opacity: 0.8;
                            z-index: 0;
                            display: none;
                        }

                        .btn {
                            margin: 10px auto;
                            width: 130px;
                            height: 40px;
                            border: 2px solid #ffeb60;
                            color: #333;
                            border-radius: 5px;
                            text-align: center;
                            font-weight: 700;
                            padding: 10px 10px;
                            font-size: 14px;
                            cursor: pointer;
                            transition: all 0.3s;

                            &:hover {
                                background-color: #ffeb60;
                            }
                        }
                    }

                    .book_info {
                        width: 68%;

                        .head {
                            margin-bottom: 20px;

                            h6 {
                                font-size: 12px;
                                font-weight: 300;

                                b {
                                    font-size: 12px;
                                }
                            }

                            h1 {
                                font-size: 30px;
                                font-weight: 700;
                                line-height: 1.8;
                            }

                            h5 {
                                font-size: 13px;
                                color: #666;
                                font-weight: 300;
                            }

                            .star {
                                display: flex;
                                align-items: center;
                                margin: 15px 0;

                                img {
                                    width: 70px;
                                    height: 14px;
                                }

                                span {
                                    font-size: 14px;
                                    color: #fa722e;
                                    padding: 0 5px;

                                    &::after {
                                        content: " (1명)";
                                        font-size: 12px;
                                        color: #666;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }

                        .foot {
                            border-top: 1px solid #c0c0c0;
                            padding: 20px 0;

                            table {
                                width: 100%;
                                border-collapse: collapse;
                                border-top: 1px solid #e6e8eb;
                                border-bottom: 1px solid #e6e8eb;
                                border-spacing: px;

                                tr {
                                    th {
                                        width: 30%;
                                        // background-color: #f7fafc;
                                        background-color: #fff5b1;
                                        border-right: 1px solid #e6e8eb;
                                        font-size: 13px;
                                        font-weight: 400;
                                        padding: 20px;
                                        color: #333;
                                    }

                                    td {
                                        font-size: 13px;
                                        font-weight: 200;
                                        padding: 5px 10px;
                                        width: 40%;

                                        &.foot_price {
                                            text-align: right;
                                        }
                                        &.foot_sale_price {
                                            text-align: right;
                                            span {
                                                color: #1f8ce6;
                                                font-weight: 500;
                                            }
                                        }

                                        span {
                                            font-size: 13px;
                                            font-weight: 400;
                                            padding: 5px 10px;
                                            width: 40%;
                                        }
                                    }
                                }
                            }

                        }

                        .bt_all {
                            width: 55%;
                            display: flex;
                            align-items: center;
                            float: right;

                            div {
                                width: 48px;
                                height: 48px;
                                border: 2px solid #ffeb60;
                                display: inline-block;
                                text-align: center;
                                line-height: 48px;
                                border-radius: 3px;
                                margin-left: 5px;
                                cursor: pointer;
                                transition: all 0.4s;

                                &:hover {
                                    background-color: #ffeb60;
                                }

                                i {
                                    display: inline-block;
                                    width: 21px;
                                    // color: #808991;
                                    color: #333;
                                }
                            }

                            .text_icon {
                                color: #333;
                                background-color: #ffeb60;
                                flex-grow: 2;
                                font-weight: 500;
                                border: none;

                                &:hover {
                                    background-color: #fff5b1;
                                }
                            }
                        }
                    }
                }

                .info_all {
                    width: 80%;
                    margin: 30px auto;
                    border: 3px solid #e6e8eb;
                    padding: 20px;
                    display: flex;

                    ul {
                        width: 50%;

                        li {

                            b {
                                font-size: 12px;
                                color: #666;
                                margin-right: 10px;
                            }

                            span {
                                font-size: 12px;
                                color: #666;
                            }
                        }
                    }
                }
            }
        }


        .content_on {
            opacity: 1;
        }

        .content_all {
            margin: 0 auto;
            width: 80%;

            h1 {
                @include con_title_font;
                border-bottom: 2px solid rgb(125, 142, 158);
            }


            .content_box {
                padding: 30px 0;
                position: relative;

                .content_text {
                    width: 100%;
                    height: 210px;
                    overflow: hidden;
                    cursor: pointer;

                    ul {
                        li {
                            @include con_sub_font;
                        }
                    }

                    p {
                        @include con_sub_font;
                        margin-top: 20px;
                    }
                }

                &.content_in::after {
                    content: "펼쳐보기 \f13a";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    color: #4076b5;
                    font-size: 13px;
                    cursor: pointer;
                }

                &.content_out::after {
                    content: "접기 \f139";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    color: #4076b5;
                    font-size: 13px;
                    cursor: pointer;
                }
            }

            .profile {

                .profile_box {
                    padding: 5px 0;
                    margin: 10px 0 30px;
                    border-bottom: 1px solid #d1d5d9;

                    span {
                        font-size: 14px;
                        font-weight: 300;
                        color: #808991;
                        margin-right: 15px;
                    }

                    span.line {
                        display: inline-block;
                        width: 1px;
                        height: 10px;
                        background-color: #808991;
                        // margin: 0 15px;
                    }
                }

                .profile_box_text {
                    padding: 15px 0;
                    border-bottom: 1px solid #d1d5d9;

                    b {
                        font-size: 20px;
                    }

                    div>div {
                        margin: 20px 0;
                        width: 170px;
                        border: 2px solid #ffeb60;
                        border-radius: 5px;
                        text-align: center;
                        padding: 4px 10px;
                        cursor: pointer;
                        transition: all 0.3s;

                        &:hover {
                            background-color: #ffeb60;
                        }

                        span {
                            color: #333;
                            font-weight: 500;
                            font-size: 13px;
                        }
                    }

                    >div>div {

                        span {
                            &:nth-child(1) {
                                &::before {
                                    content: "\2b";
                                    font-weight: 900;
                                    font-family: "Font Awesome 5 Free";
                                }
                            }

                            &:nth-child(2) {
                                &::before {
                                    content: "·";
                                    font-weight: 900;
                                    // font-family: "Font Awesome 5 Free";
                                }
                            }
                        }
                    }

                    >div>span {
                        &:nth-of-type(2) {
                            font-size: 14px;
                            font-weight: 300;
                            color: #808991;
                            margin-right: 15px;
                        }

                        &:nth-of-type(3) {
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }
                }

                .profile_img {

                    >div:nth-child(1) {
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 10px;

                        h3 {
                            display: inline-block;
                            font-size: 16px;
                            font-weight: 500;
                        }

                        ul {
                            display: flex;
                            align-items: center;

                            li {
                                font-size: 11px;
                                margin-left: 10px;
                                color: #999;
                                cursor: pointer;

                                &:not(:last-child) {
                                    &::after {
                                        content: "";
                                        display: inline-block;
                                        width: 1px;
                                        height: 8px;
                                        background-color: #999;
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                    }

                    .img_box {
                        display: flex;
                        justify-content: space-evenly;
                        margin: 20px 0;

                        >div {
                            width: 19%;
                            text-align: center;

                            .img_cover {

                                img {
                                    width: 80%;
                                }
                            }

                            .img_title {
                                text-align: left;
                                width: 80%;
                                margin: 0 auto;

                                a {
                                    font-size: 12px;
                                }

                            }
                        }
                    }
                }
            }

            .content_video {

                >div {
                    padding: 5px 0;
                    margin: 10px 0 30px;
                }

                iframe {
                    margin-bottom: 20px;
                }

            }

            .more_img {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin: 30px 0;

                >div {
                    width: 18%;
                    text-align: center;
                    margin-bottom: 50px;


                    img {
                        width: 70%;
                    }

                    .more_title {
                        width: 70%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        margin: 0 auto 5px;
                        text-align: left;

                        a {
                            font-size: 12px;
                        }
                    }

                    .more_price {
                        width: 70%;
                        margin: 0 auto;
                        display: block;
                        font-size: 12px;
                        text-align: left;

                        a {
                            margin-left: 5px;
                            font-size: 12px;
                            color: #1f8ce6;
                        }

                    }
                }
            }
        }
    }
}


.side {
    width: 20%;

    div:nth-child(1) {
        width: 207px;
        height: 207px;

        img {
            width: 100%;
        }
    }

    .text_all {
        padding: 20px;

        h5 {
            font-weight: 500;
            font-size: 13px;
            line-height: 2.5;
        }

        ul {
            width: 185px;

            li {
                width: 100%;
                border-top: 1px solid rgb(221, 221, 221);
                padding: 3px 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;

                span.num {
                    color: rgb(230, 73, 56);
                    font-weight: 500;
                    font-size: 12px;
                    padding-right: 6px;
                }

                span.num_text {
                    font-size: 12px;
                    white-space: nowrap;
                    font-weight: 300;

                    &:hover {
                        background-color: #ffeb60;
                    }
                }
            }
        }

        .more_btn {
            width: 185px;
            background-color: rgb(223, 223, 223);
            font-size: 11px;
            padding: 4px 0px;
            text-align: center;
            margin-top: 4px;
            color: rgb(51, 51, 51);
            cursor: pointer;

            span {
                font-size: 8px;
                color: rgb(51, 51, 51);
            }
        }
    }
}


// 푸터
footer {
    width: 100%;
    padding: 20px 0 80px;
    margin-top: 50px;
    border-top: 1px solid #dfdfdf;

    .footer_wrap {
        width: 1200px;
        margin: 0 auto;

        .top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                display: flex;

                li {
                    cursor: pointer;

                    &:not(:last-child) {
                        margin-right: 10px;
                    }

                    img {
                        width: 24px;
                    }
                }
            }
        }

        .second {
            margin: 20px 0;
            display: flex;
            align-items: center;

            a {
                color: #a5a5a5;
                font-size: 10px;
            }

            img {
                width: 12px;
            }
        }

        .middle {
            margin: 20px 0;

            ul {
                display: flex;

                li {
                    margin-right: 10px;

                    &::after {
                        content: " >";
                        font-size: 12px;
                        color: #6f6f6f;

                    }

                    .bold_text {
                        font-weight: bold;
                    }

                    a {
                        font-size: 12px;
                        color: #6f6f6f;
                    }

                }
            }
        }

        .foot {
            span {
                color: #6f6f6f;
                font-size: 10px;
            }
        }
    }
}

